.wrapper{
    max-width: 650px;
    margin: 0 auto;
    border: 0.5px solid #c2c7cb;
}

.border{
    padding: 50px 50px 50px 50px;
}

.title{
    width: 100%;
    padding: 20px 0px 20px 30px;
    border-bottom: 0.5px solid #c2c7cb;
    background-image: linear-gradient(to bottom right, #337ab7, #000000);
}

.title > span {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
